/*
 * General properties
 */
html, body {
	background-color: #4b423d;
	background-image: url(../Imatges/FonsPunts3B.svg);
	background-repeat: space;
	font-family: 'Static';
	margin: 0px;
	height: 100%;
}
.hide {
	display: none;
}



/*
 * Fonts
 */
@font-face {
	font-family: 'Cinzel';
	src: url('../Fonts/Cinzel-Regular.ttf');
}
@font-face {
	font-family: 'Static';
	src: url('../Fonts/Static.otf');
}
@font-face {
	font-family: 'InterstateLightCondensed';
	src: url('../Fonts/Interstate-LightCondensed.ttf');
}
@font-face {
	font-family: 'InterstateLight';
	src: url('../Fonts/Interstate-Light.ttf');
}
@font-face {
	font-family: 'Interstate-Bold';
	src: url('../Fonts/Interstate-Bold.ttf');
}



/*
#guia_layout {
	background: url(../Imatges/WEB_EM_4-01.jpg) no-repeat top center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 866px 613px;
}*/


/*
 * Header
 */
header {
	background-color: #A69993;
}
header #header_wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 904px;
	padding-left: 60px;
	padding-right:60px;
}
header #logo {
	width: 100%;
	height: 78px;
}
header #logo a {
	display: block;
	height: 78px;
}
#menuLeft{
	float: left;
	width: 335px;
	line-height: 30px;
}
#titol{
	color: white;
	font-family: 'Cinzel', serif;
	font-size: 26px;
}
#sub1{
	font-size: 18px;
	color: #D8D7D3;
/*	letter-spacing: 3px;*/
}
#sub2{
	font-size: 18px;
	margin-bottom: 49px;
	color: #615C58;
	letter-spacing: 3px;
}
#menuRight{
	font-size: 20px;
	float: right;
	width: 440px;
	margin-top: 11px;
	line-height: 33px;
}
#menuRight span:hover{
	color:white;
	cursor:pointer;
}



/*
 * Main
 */
#main {
	background-color: #A69993;
	height: 477px;
}
#main_shadow_top {

}
/*#main_shadow_bottom {
	width: 100%;
	height: 30px;
	position: absolute;
	-webkit-box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	top: 538px;
}*/
#wn{
/*	height: 340px;*/
	/*-webkit-box-shadow: 0 -8px 6px -6px black;
	   -moz-box-shadow: 0 -8px 6px -6px black;
	        box-shadow: 0 -8px 6px -6px black;*/
	/*-webkit-box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);
	box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);*/


}
/*#main #taula_shadow_up {
	height: 20px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
#main #taula_shadow_up:before{
			content: "";
			position: fixed;
			top: -10px;
			left: 0;
			width: 100%;
			height: 10px;

			-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
				-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
						box-shadow: 0px 0px 10px rgba(0,0,0,.8);

			z-index: 100;
}*/

/*#main tr.images td {*/
/*#main tr.images img {
	-webkit-box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.75);
	padding: 11px 30px 11px;
border-spacing: 0px;
margin-left: 57px;
}*/
#main tr{
	vertical-align: middle;
}
#main tr.images .space {
	min-width: 20px;
	background-color: white;
	height: 340px;
}
#main tr.images img {
	display: block;
}
#main tr.images td:nth-child(even) {
	min-width: 200px;
	background-image: url('../Imatges/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #FFF;
}




/*
 * Main_about
 */
#main_about{
	background-color: #000000;
	height: 360px;
}
#about_wrap{
	height: 360px;
	background-color: #ffffff;
	width:921px;
	margin-left: auto;
	margin-right:auto;
	padding-left: 60px;
	padding-right: 43px;
	line-height: 18px;
}
#idiomes, .career, .personal{
	margin-top:25px;
	float:left;
	display: inline;
}
div #idiomes{
	display: block;
	margin-right: 40px;
	cursor:pointer;
	font-family: 'Static';
	font-size: 12px;
	color: #E95C18;
}
#idiomes div:hover, #idiomes>#catala.active{
	color: #000000;
}
.active{
	color: #000000;
}
.career{
	width: 298px;
	margin-right: 24px;
	font-family: 'InterstateLightCondensed';
	font-size: 15px;
}
#about_wrap span{
	font-family: 'Interstate-Bold';
}
.career p{
	margin-top: 0;
	color: #8B7F78;
}
.personal{
	width: 188px;
	font-size: 15px;
	font-family: font-family: 'InterstateLight';
}
.personal a{
	text-decoration:none;
	color:inherit;
}
.personal .mail, .personal #portafolios, .personal > div > a{
	height: 27px;
	width: 27px;
	cursor:pointer;
	display: block;
}
.personal .mail, .personal #portafolios{
	margin-top:10px;
}
.personal .mail{
	background-image:url(../Imatges/Boto1_about1.svg);
	margin-bottom: 50px;
}
.personal .mail:hover{
	background-image:url(../Imatges/Boto1_about2.svg);
}
.personal .mail:active{
	background-image:url(../Imatges/Boto1_about3.svg);
}
.personal #portafolios{
	background-image:url(../Imatges/Boto2_about1.svg);
}
.personal #portafolios:hover{
	background-image:url(../Imatges/Boto2_about2.svg);
}
.personal #portafolios:active{
	background-image:url(../Imatges/Boto2_about3.svg);
}





/*
 * Footer
 */
footer{
	width: 904px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
	padding-right: 60px;
}
#footer_icons{
	float:left;
	width: 904px;
}
#footer_icons > div, #footer_icons > div > a{
	display:inline-block;
	cursor:pointer;
	height: 32px;
	width: 32px;
}

#footer_icons > #footer_about{
	background-image: url('../Imatges/Botons01.svg');
}
#footer_icons > #footer_about:hover,
#footer_icons > #footer_about.active {
	background-image: url('../Imatges/Botons02.svg');
}
#footer_icons > #footer_mail{
	background-image: url('../Imatges/Botons03.svg');
}
#footer_icons > #footer_mail:hover,
#footer_icons > #footer_mail.active {
	background-image: url('../Imatges/Botons04.svg');
}
#footer_icons > #footer_linkedin{
	background-image: url('../Imatges/Botons07.svg');
}
#footer_icons > #footer_linkedin:hover,
#footer_icons > #footer_linkedin.active {
	background-image: url('../Imatges/Botons08.svg');
}
#footer_icons > #footer_copyright{
	background-image: url('../Imatges/Botons09.svg');
}
#footer_icons > #footer_copyright:hover,
#footer_icons > #footer_copyright.active {
	background-image: url('../Imatges/Botons10.svg');
}

#footer_info div {
	color: #FF3A00;
	padding-left: 12px;
	position: relative;
	top: -10px;
	width:800px;
}
