/*
 * General properties
 */
html, body {
	background-color: #4b423d;
    background-image:url(Imatges/FonsPunts2.svg);
	font-family: 'Static';
	margin: 0px;
	height: 100%;
}
@font-face {
	font-family: 'Static';
	src: url('http://www.fontsaddict.com/fontface/static.otf');
}
/*
#guia_layout {
	background: url(Imatges/WEB_EM_4-01.jpg) no-repeat top center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 866px 613px;
}*/



/*
 * Header
 */
header {
	background-color: #A69993;
}
header #header_wrapper {
	margin-left: auto;
	margin-right: auto;
	/* la suma es 880px */
	width: 795px;
	padding-left: 85px;
/*	height: 154px;*/
}
header #logo {
	width: 100%;
	height: 78px;
}
header #logo a {
	display: block;
	height: 78px;
}

#menuLeft{
	float: left;
	width: 335px;
	line-height: 30px;
}

#titol{
	color: white;
	font-family: 'Cinzel', serif;
	font-size: 26px;
}
#sub1{
	font-size: 18px;
	color: #D8D7D3;
/*	letter-spacing: 3px;*/
}

#sub2{
	font-size: 18px;
	margin-bottom: 49px;
	color: #615C58;
	letter-spacing: 3px;
}

#menuRight{
	font-size: 20px;
	float: right;
	width: 440px;
	margin-top: 11px;
/*	letter-spacing: 2px;*/
	line-height: 33px;
}

#menuRight span:hover{
	color:white;
    cursor:pointer;
}



/*
 * Main
 */
#main {
	background-color: #A69993;
/*	height: 400px;*/
}
#wn{
/*	height: 340px;*/
    /*-webkit-box-shadow: 0 -8px 6px -6px black;
	   -moz-box-shadow: 0 -8px 6px -6px black;
	        box-shadow: 0 -8px 6px -6px black;*/
    -webkit-box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);
    box-shadow: 0 0px -8px 87px 0px rgba(0,0,0,0.75);


}
#scrollbar_b {
	height: 20px;
	background-color: black;
}

#main tr.images td {
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#main .images .space {
	min-width: 20px;
	background-color: white;
    height: 340px;
}


/*
 * Footer
 */
footer{
	width: 795px;
	min-height: 100px;
    margin-left: auto;
	margin-right: auto;
    padding-left: 85px;
}
footer div{
    display:inline;
}
#footer_about:hover{
    content: url('Imatges/Botons02.svg');
    cursor:pointer;
}
#about{
    display:none;
    color:#FF3A00;
    padding-left: 12px;
}
#footer_about:hover~#about{
    display:inline-block;
}
#footer_mail:hover{
    content: url('Imatges/Botons04.svg');
    cursor:pointer;
}
#footer_linkedin:hover{
    content: url('Imatges/Botons08.svg');
    cursor:pointer;
}
#footer_copyright:hover{
    content: url('Imatges/Botons10.svg');
    cursor:pointer;
}


